body{
  background-color: #ddd;
}
.barcode-box{
  padding-top: 20px;
  text-align: center;
}
.barcode{
  margin-bottom: 40px;
}
.barcode-input{
  height:40px;
  width:500px;
  line-height: 40px;
  padding:0 4px;
  border-radius: 3px;
  border:none;
  outline: none;
  margin-bottom: 20px;
  color:#2980b9;
  font-size:14px;
}
.barcode-input::placeholder{
  font-size:16px;
  color:#16a085;
}
.code-button{
  display: inline-block;
  height:40px;
  padding:0 10px;
  text-align: center;
  line-height: 40px;
  border-radius: 3px;
  color:#fff;
  background-color: #333;
  cursor:pointer;
}